header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

ul {
  display: flex;
  column-gap: 10px;
}

header .netflix {
  font-size: 40px;
  color: var(--red9);
}

header .lang {
  border: 1px solid var(--gray3);
  border-radius: 100px;
  padding: 2px 10px;
}

header .login {
  border: 1px solid;
  border-radius: 100px;
  padding: 2px 10px;
  background-color: white;
  color: black;
}
